{% extends '../layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>电影名字</th>
                    <th>导演</th>
                    <th>国家</th>
                    <th>语言</th>
                    <th>上映年份</th>
                    <th>录入时间</th>
                    <th>简介</th>
                    <th>查看</th>
                    <th>更新</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr class="item-id-{{movie._id}}">
                    <td> {{movie.title}}</td>
                    <td> {{movie.doctor}}</td>
                    <td> {{movie.country}}</td>
                    <td> {{movie.language}}</td>
                    <td> {{movie.year}}</td>
                    <td> {{movie.summary}}</td>
                    <td> {{movie.meta.createAt.toString()}}</td>
                    <td>
                        <a href="/detail/{{movie._id}}" target="_blank",">查看
                        </a> 
                    </td>
                    <td>
                        <a href="/admin/control/update/{{movie._id}}" target="_blank">修改</a>                    
                    </td>
                    <td>
                        <button class="btn btn-danger del" type="button" data-id="{{movie._id}}">删除
                        </button>
                    </td> 
                </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
